body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: url("/Assets/Bg-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  color:rgb(227, 234, 85);
  text-align: center;
  /* display: flex; */
  padding-top: 240px;
}
.counter-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.decrement,.increment
{
  width:50px;
  height: 50px;
  font-size: 30px;
  background-color: rgba(255, 228, 196, 0.412);
  border: none;
  border-radius:50px ;
  box-sizing: border-box;

}
.decrement
{
   margin-right: 50px;
  
}
.increment
{
  margin-left: 50px;
}
.reset
{
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background:linear-gradient(#96b05be1,#66c089cc);
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
}
.reset:hover, .increment:hover, .decrement:hover
{
  cursor: pointer;
}
.output
{
  font-size: 40px;
  width: 60px;
}